/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; /* Garante que o conteúdo se empilhe verticalmente */
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título dentro do formulário */
h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Estilo dos rótulos */
label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
}

/* Estilo dos campos de input */
input {
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #42a5f5;
    box-shadow: 0px 0px 5px rgba(66, 165, 245, 0.5);
    outline: none;
}

/* Botão de envio (Entrar) */
button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #42e695, #3bb2b8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
    transition: background 0.3s, transform 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(90deg, #3bb2b8, #42e695);
    transform: scale(1.05);
}

/* Botão Voltar (do mesmo tamanho do botão "Entrar") */
.btn-voltar {
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #ff6f61, #ff9671);
    border: none;
    border-radius: 5px;
    width: 100%; /* Faz o botão "Voltar" ter o mesmo tamanho que o "Entrar" */
    margin-top: 1rem;
    text-align: center;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}

.btn-voltar:hover {
    background: linear-gradient(90deg, #ff9671, #ff6f61);
    transform: scale(1.05);
}

/* Feedback de erro */
p {
    text-align: center;
    font-size: 1rem;
    color: rgb(221, 211, 211);
    margin-top: 1rem;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #283e51;
    color: white;
    font-size: 0.9rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2rem;
}
